<c-row>
    <c-col [sm]="4" *ngFor="let videogame of videogamesByDeveloper">
        <c-card class="mb-4">
            <img cCardImg="top" src="../../../../assets/images/angular.jpg">
            <c-card-body>
            <h5 cCardTitle>{{videogame.titulo}}</h5>
            <p cCardText>
                {{videogame.sinopsis}}
            </p>
            <p cCardText>
                <small class="text-medium-emphasis">Last updated 3 mins ago</small>
            </p>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>