<c-row>
    <c-col [sm]="3" *ngFor="let videogame of videogamesByDeveloper">
        <c-card class="mb-4">
            <img cCardImg="top" [src]=videogame.imagen height="250" style="object-fit: cover;">
            <c-card-body>
            <h5 cCardTitle>{{videogame.titulo}}</h5>
            <c-row>
                <c-col class="text-end mb-12">
                    <button cButton color="dark" class="mb-4" [routerLink]="['/videogames/videogame']" [state]="videogame">Ver detalles</button>
                </c-col>
            </c-row>
            <p cCardText>
                <small class="text-medium-emphasis">By {{videogame.usuario}}</small>
            </p>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>