<h2>Actualizar etiqueta</h2>

<form [formGroup]="getUpdateTagForm()" (ngSubmit)="updateTag()" [validated]="validatedForm" cForm class="row g-3 needs-validation">
  <c-row>
    <c-col md="4">
        <label cLabel for="name">Nombre de la etiqueta</label>
        <input cFormControl id="name" formControlName="name" required type="text" />
        <c-form-feedback [valid]="true">Nombre de etiqueta válido</c-form-feedback>
        <c-form-feedback [valid]="false">Ingrese el nombre de etiqueta</c-form-feedback>
    </c-col>
  </c-row>
  <c-row class="row">
    <c-col md="4">
      <button cButton color="primary" class="update-button row-margin-bottom" type="submit">
        Guardar
      </button>
    </c-col>
  </c-row>
</form>

<c-modal id="infoModal" [visible]="visible" (visibleChange)="handleInfoModalChange($event)" [alignment]="'center'">
  <c-modal-header>
      <h5 cModalTitle>{{modalTitle}}</h5>
      <button (click)="openCloseInfoModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>{{modalMessage}}</c-modal-body>
  <c-modal-footer>
      <button (click)="openCloseInfoModal()" cButton color="secondary">
        Cerrar
      </button>
  </c-modal-footer>
</c-modal>
