<div *ngIf="showSpinner" class="fade show spinner">
    <i class="spinner-grow spinner-grow-sm"></i>
    <span class="m-1">Cargando usuarios...</span>
</div>

<div *ngIf="showSpinner == false">
    <c-row>
        <c-col [sm]="3" *ngFor="let user of users">
            <c-card class="mb-4">
                <c-card-body>
                <h5 cCardTitle>{{user.username}}</h5>
                <c-row>
                    <c-col class="text-end mb-12">
                        <button cButton color="dark" class="mb-4" [routerLink]="['/users/user']" [state]="user" size="sm">Ver detalles</button>
                    </c-col>
                </c-row>
                <p cCardText>
                    <small class="text-medium-emphasis">Rol: {{user.type}}</small>
                </p>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</div>

<c-modal id="infoModal" [visible]="visible" (visibleChange)="handleInfoModalChange($event)" [alignment]="'center'">
    <c-modal-header>
        <h5 cModalTitle>{{modalTitle}}</h5>
        <button (click)="openCloseInfoModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>{{modalMessage}}</c-modal-body>
    <c-modal-footer>
        <button (click)="openCloseInfoModal()" cButton color="secondary">
            Cerrar
        </button>
    </c-modal-footer>
</c-modal>
  