<div *ngIf="showSpinner" class="fade show spinner">
    <i class="spinner-grow spinner-grow-sm"></i>
    <span class="m-1">Publicando aplicación...</span>
</div>

<div *ngIf="showSpinner == false">
    <h2>Publicar Excalinest</h2>
    <form [formGroup]="getPostApplicationForm()" (ngSubmit)="submitApplication()" [validated]="validatedForm" cForm class="row g-3 needs-validation">
        <c-row>
            <c-col md="6">
                <label cLabel for="title">Nombre de la nueva versión</label>
                <input cFormControl id="title" formControlName="title" required type="text" />
                <c-form-feedback [valid]="true">Nombre de la versión válido</c-form-feedback>
                <c-form-feedback [valid]="false">Ingrese el nombre de la nueva versión</c-form-feedback>
            </c-col>
            <c-col md="6">
                <label cLabel for="zip">Archivo zip de la aplicación</label>
                <input cFormControl id="zip" formControlName="zip" accept="application/zip" required type="file" >
                <c-form-feedback [valid]="true">Archivo válido</c-form-feedback>
                <c-form-feedback [valid]="false">Ingrese el archivo</c-form-feedback>
            </c-col>
        </c-row>
        <c-row>
            <c-col md="12">
                <label cLabel for="description">Descripción</label>
                <textarea cFormControl id="description" formControlName="description" required type="text" ></textarea>
                <c-form-feedback [valid]="true">Descripción válida</c-form-feedback>
                <c-form-feedback [valid]="false">Ingrese la descripción</c-form-feedback>
            </c-col>
        </c-row>
        <c-row class="row">
            <c-col md="4">
            <button cButton color="primary" class="update-button row-margin-bottom" type="submit">
                Publicar
            </button>
            </c-col>
        </c-row>
    </form>
</div>

<c-modal id="infoModal" [visible]="visible" (visibleChange)="handleInfoModalChange($event)" [alignment]="'center'">
    <c-modal-header>
        <h5 cModalTitle>{{this.modalTitle}}</h5>
        <button (click)="openCloseInfoModal(false)" cButtonClose></button>
    </c-modal-header>
    <c-modal-body> {{this.modalMessage}} </c-modal-body>
    <c-modal-footer>
        <button (click)="openCloseInfoModal(false)" cButton color="secondary">
          Cerrar
        </button>
    </c-modal-footer>
</c-modal>