.spinner {
    text-align: center; 
    padding-top: calc(100vh / 3);
    height: 50vh;
}

.update-button {
    width:100%;
}

.row {
    margin-top: 2%;
}

.row-margin-bottom {
    margin-bottom: 10%;
}

.columns-tags {
    margin-top: 2%;
    margin-bottom: 3%;
}

.tag {
    margin-right: 1%;
}

.tag-picker {
    border: 1px solid #b1b7c1;
}