<div *ngIf="showSpinner" class="fade show spinner" >
    <i class="spinner-grow spinner-grow-sm"></i>
    <span class="m-1">Cargando información del perfil...</span>
</div>
<div *ngIf="showSpinnerDownload" class="fade show spinner">
    <i class="spinner-grow spinner-grow-sm"></i>
    <span class="m-1">Descargando videojuego...</span>
</div>
<div *ngIf="showSpinnerDelete" class="fade show spinner">
    <i class="spinner-grow spinner-grow-sm"></i>
    <span class="m-1">Eliminando videojuego...</span>
</div>

<div *ngIf="showSpinner == false && showSpinnerDownload == false && showSpinnerDelete == false">
    <c-row class="row-title">
        <c-row>    
            <c-col md="8">
                <h1>{{user.username}}</h1>
            </c-col>
        </c-row>
        <br>
        <br>
        <br>
        <c-row>
            <c-col [sm]="3">
                <button cButton color="info" class="crud-button right-margin" size="sm" style="margin-right: 7%;" [routerLink]="['/users/update-my-profile']" [state]="user"><svg cIcon name="cilPencil" class="me-2 icon"></svg>Editar mi perfil</button> 
            </c-col>
        </c-row>
        <br>
        <br>
        <br>
        <br>
        <c-row>
            <c-col md="6">
                <h4>Nombre</h4>
                <p>{{user.name}}</p>
            </c-col>
        </c-row>
        <br>
        <br>
        <br>
        <c-row>    
            <c-col md="6">
                <h4>Correo electrónico</h4>
                <p>{{user.email}}</p>
            </c-col>
            <c-col md="6">
                <h4>Tipo de usuario</h4>
                <p>{{user.type}}</p>
            </c-col>
        </c-row>
        <br>
        <br>
        <br>
    </c-row>
    <br>
    <c-row class="row-title">
        <h5>Redes sociales de {{user.username}}</h5>
    </c-row>
    <c-row class="row-social-net">
        <c-col [sm]="4">
            <c-row class="text-center">
                <h6>Facebook</h6>
            </c-row>
            <c-row>
                <img cCardImg="top" [src]=user.imagenFacebook class="w-50 p-3 rounded mx-auto d-block">
            </c-row>
        </c-col>
        <c-col [sm]="4">
            <c-row class="text-center">
                <h6>Instagram</h6>
            </c-row>
            <c-row>
                <img cCardImg="top" [src]=user.imagenInstagram class="w-50 p-3 rounded mx-auto d-block">
            </c-row>
        </c-col>
        <c-col [sm]="4">
            <c-row class="text-center">
                <h6>Twitter</h6>
            </c-row>
            <c-row>
                <img cCardImg="top" [src]=user.imagenTwitter class="w-50 p-3 rounded mx-auto d-block">
            </c-row>
        </c-col>
    </c-row>

    <div>
        <br>
        <br>
        <h4>Mis Videojuegos</h4>
        <div class="table-responsive">
            <table class="table table-striped videogames-table">
                <thead>
                  <tr>
                    <th scope="col" width="200px">Portada</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Sinopsis</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let videogame of videogames">
                        <td style="vertical-align: middle;">
                            <img cCardImg="top" [src]=videogame.imagen style="object-fit: cover;">
                        </td>
                        <td>{{videogame.titulo}}</td>
                        <td>{{videogame.sinopsis}}</td>
                        <td class="center-content">
                            <button cButton  color="dark" size="sm" (click)="downloadFile(videogame)">
                                <svg cIcon name="cilCloudDownload" class="me-1 icon"></svg>
                            </button>
                        </td>
                        <td class="center-content">
                            <button cButton color="danger" size="sm" (click)="deleteFile(videogame)">
                                <svg cIcon name="cilTrash" class="me-1 icon"></svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<c-modal id="infoModal" [visible]="visible" (visibleChange)="handleInfoModalChange($event)" [alignment]="'center'">
    <c-modal-header>
        <h5 cModalTitle>{{this.modalTitle}}</h5>
        <button (click)="openCloseInfoModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body> {{this.modalMessage}} </c-modal-body>
    <c-modal-footer>
        <button cButton color="danger" (click)="onDeleteVideogame()" *ngIf="deleteButton">Eliminar</button>
        <button (click)="openCloseInfoModal()" cButton color="secondary">
            Cerrar
        </button>
    </c-modal-footer>
    </c-modal>