<div *ngIf="showSpinner" class="fade show spinner">
  <i class="spinner-grow spinner-grow-sm"></i>
  <span class="m-1">Editando videojuego...</span>
</div>

<div *ngIf="showSpinner == false">
  <h2>Editar videojuego</h2>
  <form [formGroup]="getPutVideogameForm()" (ngSubmit)="submitVideogame()" [validated]="validatedForm" 
    cForm class="row g-3 needs-validation">
    <c-row>
      <c-col md="8">
        <label cLabel for="title">Título</label>
        <input cFormControl id="title" formControlName="title" required type="text" />
        <c-form-feedback [valid]="true">Título válido</c-form-feedback>
        <c-form-feedback [valid]="false">Ingrese el título del videojuego</c-form-feedback>
      </c-col>
      <c-col md="4">
        <label cLabel for="cover">Portada</label>
        <input cFormControl id="cover" formControlName="cover" type="file" >
        <c-form-feedback [valid]="true">Portada válida</c-form-feedback>
        <c-form-feedback [valid]="false">Ingrese la portada</c-form-feedback>
      </c-col>
    </c-row>
    <c-row class="row">
      <c-col md="8">
        <label cLabel for="sinopsis">Sinopsis</label>
        <textarea cFormControl id="sinopsis" formControlName="sinopsis" required type="text" ></textarea>
        <c-form-feedback [valid]="true">Sinopsis válida</c-form-feedback>
        <c-form-feedback [valid]="false">Ingrese la sinopsis</c-form-feedback>
      </c-col>
      <c-col md="4">
        <label cLabel for="zip">Archivo</label>
        <input cFormControl id="zip" formControlName="zip" type="file" value="" >
        <c-form-feedback [valid]="true">Archivo válido</c-form-feedback>
        <c-form-feedback [valid]="false">Ingrese el archivo</c-form-feedback>
      </c-col>
    </c-row>
    <c-row class="row">
      <c-col md="4">
        <label cLabel for="facebook">Facebook</label>
        <input cFormControl id="facebook" formControlName="facebook" type="file" >
        <c-form-feedback [valid]="true">Archivo válido</c-form-feedback>
        <c-form-feedback [valid]="false">Ingrese el archivo</c-form-feedback>
      </c-col>
      <c-col md="4">
        <label cLabel for="instagram">Instagram</label>
        <input cFormControl id="instagram" formControlName="instagram" type="file" >
        <c-form-feedback [valid]="true">Archivo válido</c-form-feedback>
        <c-form-feedback [valid]="false">Ingrese el archivo</c-form-feedback>
      </c-col>
      <c-col md="4">
        <label cLabel for="twitter">Twitter</label>
        <input cFormControl id="twitter" formControlName="twitter" type="file" >
        <c-form-feedback [valid]="true">Archivo válido</c-form-feedback>
        <c-form-feedback [valid]="false">Ingrese el archivo</c-form-feedback>
      </c-col>
    </c-row>
    <c-row class="row">
      <c-col [sm]="2" class="columns-tags">
        <label cLabel>Tags</label>
      </c-col>
      <c-col [sm]="10" class="columns-tags">
        <select #selectTags cSelect size="3" sizing="md" (change)="addTag(selectTags.value)" class="tag-picker" *ngIf="validatedForm == false">
          <option *ngFor="let tag of listOfTags">
            {{tag.id}} - {{tag.name}}
          </option>
        </select>
        <select #selectTags cSelect size="3" sizing="md" (change)="addTag(selectTags.value)" style="border: 1px solid #e55353;" *ngIf="validatedForm == true && tags[0].id == -1">
          <option *ngFor="let tag of listOfTags">
            {{tag.id}} - {{tag.name}}
          </option>
        </select>
        <select #selectTags cSelect size="3" sizing="md" (change)="addTag(selectTags.value)" style="border: 1px solid #2eb85c;" *ngIf="validatedForm == true && tags[0].id != -1">
          <option *ngFor="let tag of listOfTags">
            {{tag.id}} - {{tag.name}}
          </option>
        </select>
        <label *ngIf="validatedForm == true && tags[0].id != -1" style="margin-top: 0.25rem; font-size: 0.875em; color: #2eb85c;">Etiqueta válida</label>
        <label *ngIf="validatedForm == true && tags[0].id == -1" style="margin-top: 0.25rem; font-size: 0.875em; color: #e55353;">Ingrese mínimo una etiqueta</label>
      </c-col>
      <c-col [sm]="10" class="columns-tags" *ngIf="tags.length != 1 || tags[0].id != -1">
          <button cButton color="light" shape="rounded-pill" *ngFor="let tag of tags" class="tag" disabled>{{tag.name}}</button>
      </c-col>
  </c-row>
    <c-row class="row">
      <c-col md="4">
        <button cButton color="primary" class="update-button row-margin-bottom" type="submit">Editar</button>
      </c-col>
    </c-row>
  </form>
</div>

<c-modal id="infoModal" [visible]="visible" (visibleChange)="handleInfoModalChange($event)" [alignment]="'center'">
  <c-modal-header>
      <h5 cModalTitle>{{this.modalTitle}}</h5>
      <button (click)="openCloseInfoModal(false)" cButtonClose></button>
  </c-modal-header>
  <c-modal-body> {{this.modalMessage}} </c-modal-body>
  <c-modal-footer>
      <button (click)="openCloseInfoModal(false)" cButton color="secondary">
        Cerrar
      </button>
  </c-modal-footer>
</c-modal>