<h2>Simulación de publicar videojuego</h2>
<form [formGroup]="getPostVideogameForm()" (ngSubmit)="submitVideogame()" [validated]="validatedForm" 
  cForm class="row g-3 needs-validation">
  <c-col md="4">
    <label cLabel for="name">Nombre</label>
    <input cFormControl id="name" formControlName="name" required type="text" value="Nombre" />
    <c-form-feedback [valid]="true">Nombre válido</c-form-feedback>
    <c-form-feedback [valid]="false">Ingrese el nombre del videojuego</c-form-feedback>
  </c-col>
  <c-col md="4">
    <label cLabel for="developer">Desarrollador</label>
    <input cFormControl id="developer" formControlName="developer" required type="text" value="Desarrollador" />
    <c-form-feedback [valid]="true">Desarrollador válido</c-form-feedback>
    <c-form-feedback [valid]="false">Ingrese el nombre del desarrollador</c-form-feedback>
  </c-col>
  <c-col>
    <div class="mb-3">
      <label cLabel for="formFile">Build .zip</label>
      <input cFormControl id="formFile" type="file" />
    </div>
  </c-col>
  <c-col xs="12">
    <button cButton class="me-1" color="primary" type="submit">
      Guardar
    </button>
  </c-col>
</form>

<c-modal id="infoModal" [visible]="visible" (visibleChange)="handleInfoModalChange($event)" [alignment]="'center'">
  <c-modal-header>
      <h5 cModalTitle>{{this.modalTitle}}</h5>
      <button (click)="openCloseInfoModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body> {{this.modalMessage}} </c-modal-body>
  <c-modal-footer>
      <button (click)="openCloseInfoModal()" cButton color="secondary">
        Cerrar
      </button>
  </c-modal-footer>
</c-modal>