<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form [formGroup]="getLoginUserForm()" (ngSubmit)="mail()" [validated]="validatedForm" cForm class="row g-3 needs-validation">  
                <c-row>
                  <h1 cLabel for="email">Correo electrónico</h1>
                  <input cFormControl id="email" formControlName="email" required type="text" />
                  <c-form-feedback [valid]="true">Correo electrónico válido</c-form-feedback>
                  <c-form-feedback [valid]="false">Ingrese el correo electrónico</c-form-feedback>
                </c-row>
                <c-col xs="6">
                  <button cButton color="primary" class="update-button row-margin-bottom" type="submit">
                    Enviar Código
                  </button>
                </c-col>
            </form>
            </c-card-body>
          </c-card>

          <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <form [formGroup]="getCodeUserForm()" (ngSubmit)="checkCode()" [validated]="validatedForm" cForm class="row g-3 needs-validation">
                <c-row>
                  <h2>Introducir código</h2>
                  <input cFormControl id="code" formControlName="code" required type="text" />
                  <c-form-feedback [valid]="false">Ingrese el código</c-form-feedback>
                </c-row>
                <c-col xs="6">
                  <button cButton color="secondary" class="update-button row-margin-bottom" type="submit">
                    Verificar
                  </button>
                </c-col>
            </form>
            </c-card-body>
          </c-card>
          
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
  <c-modal id="infoModal" [visible]="visible" (visibleChange)="handleInfoModalChange($event)" [alignment]="'center'">
    <c-modal-header>
        <h5 cModalTitle>{{this.modalTitle}}</h5>
        <button (click)="openCloseInfoModal(false)" cButtonClose></button>
    </c-modal-header>
    <c-modal-body> {{this.modalMessage}} </c-modal-body>
    <c-modal-footer>
        <button (click)="openCloseInfoModal(false)" cButton color="secondary">
            Cerrar
        </button>
    </c-modal-footer>
</c-modal>
</div>
