.send-code-class {
    margin-top: 8%;
}

.code-group {
    margin-top: 15%;
}

.email-group {
    margin-top: 10%;
}

.spinner {
    text-align: center; 
    padding-top: calc(100vh / 2.25);
    height: 50vh;
}
