.title {
    margin-bottom: 4%;
}

.spinner {
    text-align: center; 
    padding-top: calc(100vh / 2.25);
    height: 50vh;
}

.register-card {
    margin: 8%;
}

.register-card-body {
    margin: 5%;
}